@import url(http://fonts.googleapis.com/css?family=Roboto);


body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: #eee;
}

a {
  color: aliceblue;
}

a:hover {
  color: aliceblue;
}

h1 a {
	color: #0082d3;
}

h1 a:hover {
	color: #0082d3;
}


.header {
  background: #0082d3;
  padding: 50px 50px 0px 50px;
  color: #fff;
  box-shadow: 0 0 20px -5px #000;
}

code {
  color: #007f90
}


.social {
  text-align: center;
  padding: 20px;
}

pre {
  font-size: 0.8em;
}

.section {
  border-bottom: 1px solid #ccc;
  padding-bottom: 50px;
  padding-top: 30px;
}

.footer {
  color: #fff;
  padding: 20px 50px;
  text-align: center;
}

.kspr {
  display: inline-block;
  width: 50px;
  line-height: 50px;
  background: #0082d3;
  border-radius: 100%;
  text-align: center;
  color: #fff;
  text-decoration: none;

  font-family: monospace;
  box-shadow: 2px 2px 10px -5px #000;
}

.kspr:hover {
  text-decoration: none;
  color: #fff;
  
}