@import url(http://fonts.googleapis.com/css?family=Roboto);


body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  color: aliceblue;
}

.header {
  background: #00aad3;
  padding: 50px 50px 0px 50px;
  color: #fff;
  box-shadow: 0 0 20px -5px #000;
}

.example {
  margin: 50px 0;
  padding: 0 50px;
}

code {
  color: #007f90
}

.info {
  font-size: 1.2em;
}

.social {
  text-align: center;
  padding: 20px;
}
